table {
    border-collapse: collapse;
    border: 1px solid lightgray;
}

td, th {
    padding: .25em;
}

td {
    background: #dddddd;
}

tr:nth-child(even) td {
    background: #ffffff;
}

thead {
    border-bottom: 1px solid gray;
}